#this is all for structure may contain real or fake APIs or URL to dbs

DATABASE_URL=

#Market api holder
MARKET_DATA_API_KEY=

#LLM api holder
LLM_API_KEY=

#paper trading account info/api profile
PAPER_TRADING_API_KEY=
PAPER_TRADING_API_SECRET=